{
  "name": "KraftConsulting",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "layout/jade/base.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"layout/jade/base.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"layout/html/base.html\"}"
    },
    {
      "path": "layout/jade/index.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"layout/jade/index.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"layout/html/index.html\"}"
    },
    {
      "path": "layout/js/jquery-1.11.3.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"layout/js/jquery-1.11.3.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/js/jquery-1.11.3.min-dist.js\"}"
    },
    {
      "path": "layout/js/main.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"layout/js/main.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/js/main-dist.js\"}"
    },
    {
      "path": "layout/sass/style-IE.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/style-IE.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/style-IE.css\"}"
    },
    {
      "path": "layout/sass/style.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/style.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/style.css\"}"
    },
    {
      "path": "layout/sass/_320.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/_320.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/_320.css\"}"
    },
    {
      "path": "layout/sass/_720.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/_720.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/_720.css\"}"
    },
    {
      "path": "layout/sass/_960.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/_960.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/_960.css\"}"
    },
    {
      "path": "layout/sass/_fluid-images.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/_fluid-images.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/_fluid-images.css\"}"
    },
    {
      "path": "layout/sass/_fonts.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/_fonts.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/_fonts.css\"}"
    },
    {
      "path": "layout/sass/_main.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/_main.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/_main.css\"}"
    },
    {
      "path": "layout/sass/_reset.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/_reset.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/_reset.css\"}"
    },
    {
      "path": "layout/sass/_settings.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/sass/_settings.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/css/_settings.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/css/font-awesome.css",
      "configJson": "{\"compiler-css\":{\"path\":\"layout/plugins/font-awesome-4.6.3/css/font-awesome.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/font-awesome-dist.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/css/font-awesome.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"layout/plugins/font-awesome-4.6.3/css/font-awesome.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/font-awesome.min-dist.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/font-awesome.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/font-awesome.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/font-awesome.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_animated.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_animated.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_animated.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_bordered-pulled.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_bordered-pulled.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_bordered-pulled.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_core.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_core.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_core.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_fixed-width.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_fixed-width.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_fixed-width.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_icons.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_icons.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_icons.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_larger.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_larger.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_larger.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_list.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_list.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_list.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_mixins.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_mixins.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_path.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_path.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_path.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_rotated-flipped.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_rotated-flipped.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_rotated-flipped.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_screen-reader.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_screen-reader.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_screen-reader.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_stacked.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_stacked.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_stacked.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/_variables.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"layout/plugins/font-awesome-4.6.3/scss/_variables.scss\",\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/_variables.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/animated.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/animated.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/animated.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/bordered-pulled.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/bordered-pulled.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/bordered-pulled.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/core.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/core.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/core.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/fixed-width.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/fixed-width.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/fixed-width.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/font-awesome.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/font-awesome.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/font-awesome.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/icons.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/icons.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/icons.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/larger.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/larger.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/larger.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/list.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/list.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/list.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/mixins.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/mixins.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/mixins.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/path.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/path.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/path.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/rotated-flipped.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/rotated-flipped.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/rotated-flipped.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/screen-reader.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/screen-reader.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/screen-reader.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/stacked.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/stacked.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/stacked.css\"}"
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/variables.less",
      "configJson": "{\"compiler-less\":{\"path\":\"layout/plugins/font-awesome-4.6.3/less/variables.less\",\"strictMath\":false,\"strictUnits\":false},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/font-awesome-4.6.3/css/variables.css\"}"
    },
    {
      "path": "layout/plugins/jQCloud/Gruntfile.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"layout/plugins/jQCloud/Gruntfile.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/jQCloud/Gruntfile-dist.js\"}"
    },
    {
      "path": "layout/plugins/jQCloud/README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"layout/plugins/jQCloud/README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"layout/plugins/jQCloud/README.html\"}"
    },
    {
      "path": "layout/plugins/jQCloud/dist/jqcloud.css",
      "configJson": "{\"compiler-css\":{\"path\":\"layout/plugins/jQCloud/dist/jqcloud.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"layout/plugins/jQCloud/dist/jqcloud-dist.css\"}"
    },
    {
      "path": "layout/plugins/jQCloud/dist/jqcloud.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"layout/plugins/jQCloud/dist/jqcloud.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/jQCloud/dist/jqcloud-dist.js\"}"
    },
    {
      "path": "layout/plugins/jQCloud/dist/jqcloud.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"layout/plugins/jQCloud/dist/jqcloud.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"layout/plugins/jQCloud/dist/jqcloud.min-dist.css\"}"
    },
    {
      "path": "layout/plugins/jQCloud/dist/jqcloud.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"layout/plugins/jQCloud/dist/jqcloud.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/jQCloud/dist/jqcloud.min-dist.js\"}"
    },
    {
      "path": "layout/plugins/jQCloud/src/jqcloud.css",
      "configJson": "{\"compiler-css\":{\"path\":\"layout/plugins/jQCloud/src/jqcloud.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"layout/plugins/jQCloud/src/jqcloud-dist.css\"}"
    },
    {
      "path": "layout/plugins/jQCloud/src/jqcloud.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"layout/plugins/jQCloud/src/jqcloud.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/jQCloud/src/jqcloud-dist.js\"}"
    },
    {
      "path": "layout/plugins/jQCloud/test/core_tests.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"layout/plugins/jQCloud/test/core_tests.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"layout/plugins/jQCloud/test/core_tests-dist.js\"}"
    },
    {
      "path": "assets/0ba7b6e7443f1c0ee60d4f29991eda05.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/0ba7b6e7443f1c0ee60d4f29991eda05.jpg\",\"size\":220201,\"initialSize\":220201,\"optimized\":false,\"height\":600,\"width\":800}}"
    },
    {
      "path": "assets/1366556575_1547025030.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/1366556575_1547025030.jpg\",\"size\":43285,\"initialSize\":43285,\"optimized\":false,\"height\":600,\"width\":423}}"
    },
    {
      "path": "assets/izmeneniya-v-sfere-nalogooblozheniya-kommercheskoj-nedvizhimosti-fizlic-v-2017-godu.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/izmeneniya-v-sfere-nalogooblozheniya-kommercheskoj-nedvizhimosti-fizlic-v-2017-godu.jpg\",\"size\":431785,\"initialSize\":431785,\"optimized\":false,\"height\":1320,\"width\":1980}}"
    },
    {
      "path": "assets/control-work-official-form-39519.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/control-work-official-form-39519.png\",\"size\":7336328,\"initialSize\":7336328,\"optimized\":false,\"height\":2000,\"width\":3008}}"
    },
    {
      "path": "assets/Columns.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/Columns.png\",\"size\":3080357,\"initialSize\":3080357,\"optimized\":false,\"height\":1100,\"width\":2250}}"
    },
    {
      "path": "assets/korporativnye-spory2-300x195.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/korporativnye-spory2-300x195.jpg\",\"size\":10808,\"initialSize\":10808,\"optimized\":false,\"height\":195,\"width\":300}}"
    },
    {
      "path": "assets/lincoln-columns-950x360-950x346.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/lincoln-columns-950x360-950x346.jpg\",\"size\":58187,\"initialSize\":58187,\"optimized\":false,\"height\":346,\"width\":950}}"
    },
    {
      "path": "assets/law-building-columns.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/law-building-columns.jpg\",\"size\":1031111,\"initialSize\":1031111,\"optimized\":false,\"height\":1004,\"width\":1500}}"
    },
    {
      "path": "assets/Newspaper-stack_3.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/Newspaper-stack_3.jpg\",\"size\":821872,\"initialSize\":821872,\"optimized\":false,\"height\":1525,\"width\":1132}}"
    },
    {
      "path": "assets/logo.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/logo.jpg\",\"size\":26396,\"initialSize\":26396,\"optimized\":false,\"height\":340,\"width\":410}}"
    },
    {
      "path": "assets/o-SUPREME-COURT-facebook.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/o-SUPREME-COURT-facebook.jpg\",\"size\":396977,\"initialSize\":396977,\"optimized\":false,\"height\":1000,\"width\":2000}}"
    },
    {
      "path": "assets/Screen Shot 2017-04-06 at 20.42.37.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/Screen Shot 2017-04-06 at 20.42.37.png\",\"size\":711224,\"initialSize\":711224,\"optimized\":false,\"height\":800,\"width\":1280}}"
    },
    {
      "path": "assets/shutterstock_50000521.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/shutterstock_50000521.jpg\",\"size\":386250,\"initialSize\":386250,\"optimized\":false,\"height\":665,\"width\":1000}}"
    },
    {
      "path": "assets/proverka.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/proverka.jpg\",\"size\":105643,\"initialSize\":105643,\"optimized\":false,\"height\":308,\"width\":555}}"
    },
    {
      "path": "presentation/Index - Desktop v2.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/Index - Desktop v2.png\",\"size\":4482149,\"initialSize\":4482149,\"optimized\":false,\"height\":3989,\"width\":1440}}"
    },
    {
      "path": "assets/корпоративные-споры.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/корпоративные-споры.jpg\",\"size\":18902,\"initialSize\":18902,\"optimized\":false,\"height\":200,\"width\":300}}"
    },
    {
      "path": "presentation/About - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/About - Desktop.png\",\"size\":1649808,\"initialSize\":1649808,\"optimized\":false,\"height\":2640,\"width\":1440}}"
    },
    {
      "path": "presentation/Contacts - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/Contacts - Desktop.png\",\"size\":960755,\"initialSize\":960755,\"optimized\":false,\"height\":990,\"width\":1440}}"
    },
    {
      "path": "presentation/Service list - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/Service list - Desktop.png\",\"size\":1408887,\"initialSize\":1408887,\"optimized\":false,\"height\":1530,\"width\":1440}}"
    },
    {
      "path": "presentation/News Page - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/News Page - Desktop.png\",\"size\":988211,\"initialSize\":988211,\"optimized\":false,\"height\":1645,\"width\":1440}}"
    },
    {
      "path": "presentation/News List - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/News List - Desktop.png\",\"size\":803662,\"initialSize\":803662,\"optimized\":false,\"height\":2525,\"width\":1440}}"
    },
    {
      "path": "presentation/Index - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/Index - Desktop.png\",\"size\":4717914,\"initialSize\":4717914,\"optimized\":false,\"height\":3760,\"width\":1440}}"
    },
    {
      "path": "presentation/v1/Contacts - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v1/Contacts - Desktop.png\",\"size\":643307,\"initialSize\":643307,\"optimized\":false,\"height\":1718,\"width\":1440}}"
    },
    {
      "path": "presentation/v1/Index - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v1/Index - Desktop.png\",\"size\":1430196,\"initialSize\":1430196,\"optimized\":false,\"height\":3360,\"width\":1440}}"
    },
    {
      "path": "presentation/Service page - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/Service page - Desktop.png\",\"size\":1250692,\"initialSize\":1250692,\"optimized\":false,\"height\":1640,\"width\":1440}}"
    },
    {
      "path": "presentation/v1/About - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v1/About - Desktop.png\",\"size\":693234,\"initialSize\":693234,\"optimized\":false,\"height\":2760,\"width\":1440}}"
    },
    {
      "path": "presentation/v1/News List - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v1/News List - Desktop.png\",\"size\":1685243,\"initialSize\":1685243,\"optimized\":false,\"height\":1880,\"width\":1440}}"
    },
    {
      "path": "presentation/v2/About - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v2/About - Desktop.png\",\"size\":1153039,\"initialSize\":1153039,\"optimized\":false,\"height\":2760,\"width\":1440}}"
    },
    {
      "path": "presentation/v2/Contacts - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v2/Contacts - Desktop.png\",\"size\":758109,\"initialSize\":758109,\"optimized\":false,\"height\":1718,\"width\":1440}}"
    },
    {
      "path": "presentation/v1/index.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v1/index.png\",\"size\":774601,\"initialSize\":774601,\"optimized\":false,\"height\":2484,\"width\":1400}}"
    },
    {
      "path": "presentation/v1/News Page - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v1/News Page - Desktop.png\",\"size\":1208105,\"initialSize\":1208105,\"optimized\":false,\"height\":2180,\"width\":1440}}"
    },
    {
      "path": "presentation/v2/News Page - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v2/News Page - Desktop.png\",\"size\":1262731,\"initialSize\":1262731,\"optimized\":false,\"height\":2180,\"width\":1440}}"
    },
    {
      "path": "presentation/v2/Index - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v2/Index - Desktop.png\",\"size\":1488840,\"initialSize\":1488840,\"optimized\":false,\"height\":3360,\"width\":1440}}"
    },
    {
      "path": "presentation/v2/News List - Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"presentation/v2/News List - Desktop.png\",\"size\":1935429,\"initialSize\":1935429,\"optimized\":false,\"height\":1880,\"width\":1440}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "layout",
      "layout/html",
      "layout/jade"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "layout/jade/about.jade",
      "imports": [
        "layout/jade/base.jade"
      ]
    },
    {
      "path": "layout/jade/contacts.jade",
      "imports": [
        "layout/jade/base.jade"
      ]
    },
    {
      "path": "layout/jade/index.jade",
      "imports": [
        "layout/jade/base.jade"
      ]
    },
    {
      "path": "layout/jade/news-list.jade",
      "imports": [
        "layout/jade/base.jade"
      ]
    },
    {
      "path": "layout/jade/news-page.jade",
      "imports": [
        "layout/jade/base.jade"
      ]
    },
    {
      "path": "layout/jade/service-list.jade",
      "imports": [
        "layout/jade/base.jade"
      ]
    },
    {
      "path": "layout/jade/service-page.jade",
      "imports": [
        "layout/jade/base.jade"
      ]
    },
    {
      "path": "layout/sass/style.scss",
      "imports": [
        "layout/sass/_320.scss",
        "layout/sass/_720.scss",
        "layout/sass/_960.scss",
        "layout/sass/_fonts.scss",
        "layout/sass/_reset.scss",
        "layout/sass/_fluid-images.scss",
        "layout/sass/_settings.scss",
        "layout/sass/_main.scss",
        "layout/sass/mediaqueries.scss"
      ]
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/less/font-awesome.less",
      "imports": [
        "layout/plugins/font-awesome-4.6.3/less/variables.less",
        "layout/plugins/font-awesome-4.6.3/less/mixins.less",
        "layout/plugins/font-awesome-4.6.3/less/path.less",
        "layout/plugins/font-awesome-4.6.3/less/core.less",
        "layout/plugins/font-awesome-4.6.3/less/larger.less",
        "layout/plugins/font-awesome-4.6.3/less/fixed-width.less",
        "layout/plugins/font-awesome-4.6.3/less/list.less",
        "layout/plugins/font-awesome-4.6.3/less/bordered-pulled.less",
        "layout/plugins/font-awesome-4.6.3/less/animated.less",
        "layout/plugins/font-awesome-4.6.3/less/rotated-flipped.less",
        "layout/plugins/font-awesome-4.6.3/less/stacked.less",
        "layout/plugins/font-awesome-4.6.3/less/icons.less",
        "layout/plugins/font-awesome-4.6.3/less/screen-reader.less"
      ]
    },
    {
      "path": "layout/plugins/font-awesome-4.6.3/scss/font-awesome.scss",
      "imports": [
        "layout/plugins/font-awesome-4.6.3/scss/_variables.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_mixins.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_path.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_core.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_larger.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_fixed-width.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_list.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_bordered-pulled.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_animated.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_rotated-flipped.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_stacked.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_icons.scss",
        "layout/plugins/font-awesome-4.6.3/scss/_screen-reader.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "jage"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "node_modules",
      ".*",
      "bower_components",
      "prepros.config",
      "Prepros Export",
      "prepros-6.config",
      "prepros.cfg",
      "wp-admin",
      "wp-includes",
      ".map",
      "Prepros Build",
      "config.rb",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".project",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"nodeSassCompress\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compiler-less\":{\"strictMath\":false,\"strictUnits\":false,\"enabled\":true},\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-babel\":{\"enabled\":false},\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"},\"compiler-kit\":{\"enabled\":true}}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": true,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}