extends ./base.jade

block title
 .container.clearfix
  .row
    .col-md-12
      ul.breadcrumbs
        li: a(href="") Главная
        li О компании
  .row
    .col-md-12
      h1.title О компании


block content
  section#content
    .container.text
      .row
        .col-md-12

          p ООО «Крафт - Консалтинг» предоставляет оценочные, экспертные, юридические и другие виды консалтинговых услуг в РФ и за рубежом. Гарантируем Вам объективность и высокое качество: наши эксперты имеют многолетний опыт в своей области, что подтверждается всеми необходимыми дипломами и сертификатами.
          p А это второй абзац, чтобы посмотреть расстояние между ними. Да и к тому же со 
           a(href="") ccылкой
          p: img(src="../assets/pic.jpg", alt="")
          p Это пример вставки изображения на странице
          p Теперь посмотрим на типографику:
          h1 Заголовок первого уровня
          h2 Заголовок второго уровня
          h3 Третьего
          h4 …Четвёртого
          h5 Пятого
          h6 И, наконец, шестого
          p А теперь посмотрим на заголовки вместе с абзацем
          h1 Заголовок первого уровня
          p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.
          h2 Заголовок второго уровня
          p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.
          h3 Третьего
          p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.
          h4 …Четвёртого
          p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.
          h5 Пятого
          p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.
          h6 И, наконец, шестого
          p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.
          p Ниже пример отображения списков:
          p
            ul
              li Один
              li Два
              li Три
              ul
                li Три с половинкой
                li Три с ниточкой
                li Три с иголочкой
              li Четыре
          p 
            ol
              li Один
                li Два
                li Три
                ul
                  li Три с половинкой
                  li Три с ниточкой
                  li Три с иголочкой
                li Четыре

          p Ну, и на последок, пример 
            b жирного 
            | текста, а так же текста 
            i курсивом.
 
