extends ./base.jade

block title
 .container.clearfix
  .row
    .col-md-12
      ul.breadcrumbs
        li: a(href="") Главная
        li: a(href="") Новости
        li Порядок регистрации общества с ограниченной ответственностью в России
  .row
    .col-md-12
      h1.title Новости


block content 
  section#content
    .container.text
      .row
        .col-md-8.left
          .news-page
            .news-post
              .news-title Порядок регистрации общества с ограниченной ответственностью в России
              .news-date 08-10-2017
              .news-text.text
                p ООО «Крафт - Консалтинг» предоставляет оценочные, экспертные, юридические и другие виды консалтинговых услуг в РФ и за рубежом. Гарантируем Вам объективность и высокое качество: наши эксперты имеют многолетний опыт в своей области, что подтверждается всеми необходимыми дипломами и сертификатами.
                p А это второй абзац, чтобы посмотреть расстояние между ними. Да и к тому же со 
                 a(href="") ccылкой
                p: img(src="../assets/pic.jpg", alt="")
                p Это пример вставки изображения на странице
                p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.
                p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.

        .col-md-4.col-sm-12.col-xs-12.right
          #sidebar
            ul
              li: a(href="") Новости
              li: a(href="") СМИ о нас
              li: a(href="") Мероприятия