extends ./base.jade

block title
 .container.clearfix
  .row
    .col-md-12
      ul.breadcrumbs
        li: a(href="") Главная
        li Услуги
  .row
    .col-md-12
      h1.title Услуги


block content
  section#services
    .container
      .row
        .col-md-12.text
          h6 Заголовок описания раздела 
          p Краткое описание раздела. При открытии офшора необходимо действовать в строгом соответствии с требованиями закона. Проводим исследования, выявляем наиболее оптимальные пути решения в каждом конкретном случае, для регистрации компаний в странах, предлагающих выгодные налоговые условия и системы отчетности.Исходя из задач бизнеса клиента.
      .row
        .services-block.col-md-12
          .row.clearfix
            .services-list.col-md-4.col-sm-4.col-xs-4.left.dark-bg
              ul
                li
                  a(href="") Услуги по оценке
                li
                  a(href="service-page.html").active Аудиторские услуги
                li
                  a(href="") Налоговая оптимизация и ведение бухгалтерского учёта
                li
                  a(href="") Государственные закупки
                li
                  a(href="") Иммиграционные услуги
                li
                  a(href="") Корпоративные услуги
                li
                  a(href="") Операции с недвижимостью
                li
                  a(href="") Сопровождение процедуры банкротства
                li
                  a(href="") Лицензирование отдельных видов деятельности
                li
                  a(href="") Патентоведение

            .services-content.col-md-8.col-sm-8.col-xs-8.right.text
              h4 Аудиторские услуги
              p В процессе развития бизнеса копятся проблемы, которые снежным комом разрастаются до таких размеров, что возможен крах всей системы предприятия. Мы осуществим анализ препятствий, тормозящих развитие Вашего бизнеса; проведем комплексную экспертизу учета и внесем изменения в финансовую политику для повышения материального качества предприятия; проведем аудит бизнеса перед его покупкой во избежание дальнейших проблем и т. д.
              a(href="").btn.hvr-ripple-out Подробнее об услуге
                i.fa.fa-angle-right
