extends ./base.jade

block title
 .container.clearfix
  .row
    .col-md-12
      ul.breadcrumbs
        li: a(href="") Главная
        li: a(href="") Услуги
        li Аудиторские услуги
  .row
    .col-md-12
      h1.title Аудиторские услуги


block content
  section#content
    .container
      .row
        .col-md-4.col-sm-4.col-xs-4.left
          .services-block
              .services-list.dark-bg
                ul
                  li
                    a(href="") Услуги по оценке
                  li
                    a(href="").active Аудиторские услуги
                  li
                    a(href="") Налоговая оптимизация и ведение бухгалтерского учёта
                  li
                    a(href="") Государственные закупки
                  li
                    a(href="") Иммиграционные услуги
                  li
                    a(href="") Корпоративные услуги
                  li
                    a(href="") Операции с недвижимостью
                  li
                    a(href="") Сопровождение процедуры банкротства
                  li
                    a(href="") Лицензирование отдельных видов деятельности
                  li
                    a(href="") Патентоведение
        .services-page-content.col-md-8.col-sm-8.col-xs-8.right.text
          p ООО «Крафт - Консалтинг» предоставляет оценочные, экспертные, юридические и другие виды консалтинговых услуг в РФ и за рубежом. Гарантируем Вам объективность и высокое качество: наши эксперты имеют многолетний опыт в своей области, что подтверждается всеми необходимыми дипломами и сертификатами.
          p А это второй абзац, чтобы посмотреть расстояние между ними. Да и к тому же со 
           a(href="") ccылкой
          p: img(src="../assets/pic.jpg", alt="")
          p Это пример вставки изображения на странице
          p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.
          p Разрешение корпоративных споров – сложное направление юридической практики, поэтому ожидать положительного результата можно лишь в одном случае – при обращении к опытному адвокату. Обусловлено это тем, что отношения между участниками споров зачастую усложняются конфликтами интересов, различиями в обычаях делового оборота, а также множеством иных нюансов.